*,
/* *::before,
*::after {
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
} */

:root {
    /* --black: black;
    --white: white;
    --lightblue: lightsteelblue;
    --darkblue: darkslateblue; */
}

body {
    padding: 10;
    margin: 40;
    display: flex;
    flex-direction: column;
}

.view-highscore {
    background-color:antiquewhite;
    color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.highscore-button {
    font-size: 15px;
    height: 50%;
    line-height: 0.5em;
}

.highscore-button:hover {
    background-color: var(--lightblue);
    color: var(--white);
}

.the-timer {
    border: 15px solid black;
}

.the-starter {
    background-color:turquoise;
    border: 15px solid black;
    text-align: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#start-page {
    background-color: antiquewhite;
    border-radius: 0rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.startTheQuiz,
h2,
p,
button {
    padding: 5px;
}

h2 {
    font-size: 10px;
}

.introduction {
    font-size: 15px;
}

.lets-start {
    width: 20%;
    height: 20px;
    font-size: 15px;
    line-height: 0.5em;
    border-radius: 1rem;
    background-color:turquoise;
    margin: 10px;
}

.lets-start:hover {
    color: black;
}

.the-quiz {
    background-color: turquoise;
    border: 15px solid black;
    font-size: 100%;
    text-align: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#the-questions {
    background-color: antiquewhite;
    text-align: center;
    width: 500px;
    height: 500px;
    border-radius: 0px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
   
.answer-buttons {
    display: block;
    text-align: center;
}

.button {
    font-size: 15px;
    background-color: white;
    display: flex;
    width: 180px;
    height: 45px;
    color: black;
    display: block;
    margin: 50px 0;
}

.button:hover {
    background-color:goldenrod;
    color: white;
    transition: 0.5s;
}


.the-final {
    background-color: turquoise;
    border:15px solid black;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.theEndText {
    background-color: antiquewhite;
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.complete {
    margin: 20;
}

#userScore {
    font-size: 100%;
}

label {
    font-size: 100%;
}

input {
    font-size: 100%;
}

.endButton {
    font-size: 15px;
    background-color: turquoise;
    color: black;
    height: 30%;
    margin: 30px 0;
}

.endButton:hover {
    background-color:goldenrod;
    color: white;
    transition: 0.5s;
}

.the-highscore {
    background-color: turquoise;
    height: 100vh;
    border: 15x solid black;
    font-size: 120%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.highscoreCardText {
    background-color: antiquewhite;
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#highscore-button {
    font-size: 15px;
    background-color: turquoise;
    color: black;
    height: 30px;
    margin: 30px 0;
}

#highscore-button:hover {
    background-color: goldenrod;
    color: white;
    transition: 0.5s;
}

.clearScore {
    font-size: 15px;
    background-color: turquoise;
    color: black;
    height: 30px;
    margin: 30px 0;
}

.clearScore:hover {
    background-color: goldenrod;
    color: white;
    transition: 0.5s;
}

.restart-button {
    font-size: 15px;
    background-color: turquoise;
    color: black;
    height: 6%;
    margin: 30px 0;
}

.restart-button:hover {
    background-color: goldenrod;
    color: white;
    transition: 0.5s;
}